{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 88,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "^assets/(.*)$",
    "^hooks/(.*)$",
    "^pages/(.*)$",
    "^store/(.*)$",
    "^store/(.*)$",
    "^components/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.css)$"
  ],
  "overrides": [
    {
      "files": ["*.js*","*.jsx*","*.ts*","*.tsx*"],
      "options": {
        "prettier.printWidth": 88
      }
    }
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}